<html>

  <h2>Information Requests</h2>

    {{!-- Displays Current Information Request Entity Table  --}}
  <h3>Current Information Requests:</h3>
  <table>
    <thead>
        <th>User ID</th>
        <th>Date Contacted</th>
        <th>Address</th>
    </thead>
    
    {{!-- Displays a row for each Information Request in the db.  --}}
    <tbody>
      {{#each informationRequest}}
        <tr>
          <td>{{user_id}}</td>
          <td>{{date_contacted}}</td>
          <td>{{address}}</td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each Information Request in the db.  --}}

    </tbody>
  </table>

  <br />
  <br />

  <button class="add-new-button" onclick="openModal()">Add New Information Request</button>

  <br />
  <br />

  <!-- Form to insert new Information Request -->
  {{!-- The layout for the form was inspired by the starter code: https://canvas.oregonstate.edu/courses/1914742/pages/exploration-web-application-technology?module_item_id=23054040 --}}

  <div class="hidden modal">
  <form
    id="addinformationRequest"
    action="/informationRequests"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    User ID:
    <select name="user_id">
      <option disabled selected value> -- select an option -- </option>
        {{#each user}}
          <option value="{{user_id}}">{{user_id}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Date Contacted:
    <input
      type="date"
      name="date_contacted"
      placeholder="Enter Date Contacted"
      required
    />
    <br />
    <br />

    Address:
    <select name="address">
      <option disabled selected value> -- select an option -- </option>
        {{#each address}}
          <option value="{{address}}">{{address}}</option>
        {{/each}}
    </select>
    <br />
    <br />
    <input class="submit-button" type="submit" value="Submit" />
  </form>
  <button onclick="closeModal()">Close</button>
  </div>
    <br />
    

</html>
<script>
  function closeModal(){
    var modal = document.getElementsByClassName("modal")[0];
    modal.classList.add("hidden");
  }

  function openModal(){
    var modal = document.getElementsByClassName("modal")[0];
    modal.classList.remove("hidden");
  }
</script>
