<html>

  <h1>Properties</h1>

    {{!-- Displays Current Property Entity Table  --}}
  <h3>Current Properties:</h3>
  <table>
    <thead>
        <th>Address</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Sqft</th>
        <th>Rent</th>
        <th>Utilities</th>
        <th>Description</th>
    </thead>
    
    {{!-- Displays a row for each property in the db.  --}}
    <tbody>
      {{#each property}}
        <tr id = "{{address}}">
          <td>{{address}}</td>
          <td>{{rooms}}</td>
          <td>{{bathrooms}}</td>
          <td>{{sqft}}</td>
          <td>{{rent}}</td>
          <td>{{utilities}}</td>
          <td>{{description}}</td>
                
          <td><form action = "/properties/delete/{{address}}" method = "post">
          <button>Delete</button></form></td>
          <td><button onclick = 'update("{{address}}")'>Update</button></td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each property in the db.  --}}

    </tbody>
  </table>

  <br />
  <br />

  <button class="add-new-button" onclick="showModal(0)">Add Property</button>

  <br />
  <br />

  <!-- Form to insert new Property -->
  {{!-- The layout for the form was inspired by the starter code: https://canvas.oregonstate.edu/courses/1914742/pages/exploration-web-application-technology?module_item_id=23054040 --}}

  <div class = "hidden modal">
  <h3>Add Property</h3>
  <form
    id="addproperty"
    action="/properties"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    Address:
    <input
      type="text"
      name="address"
      placeholder="Enter Property Address"
      required
    /><br />
    <br />
    
    Rooms:
    <input
      type="number"
      name="rooms"
      placeholder="Enter # of Rooms"
      required
    /><br />
    <br />

    Bathrooms:
    <input
      type="number"
      name="bathrooms"
      placeholder="Enter # of Bathrooms"
      required
    /><br />
    <br />

    Sqft:
    <input
      type="number"
      name="sqft"
      placeholder="Enter Size in Square Feet"
      required
    /><br />
    <br />

    Rent:
    <input
      type="number"
      name="rent"
      placeholder="Enter Rent"
      required
    /><br />
    <br />

    Utilities:
    <input
      type="text"
      name="utilities"
      placeholder="Enter Utilities"
      required
    /><br />
    <br />

    Description:
    <input
      type="text"
      name="description"
      placeholder="Enter Description"
    /><br />
    <br />
    <input class="submit-button" type="submit" value="Submit" />
  </form>
    <button class = "close-modal" onclick="closeModal(0)">Close</button>
</div>




  <div class = "modal hidden">
    <h3>Update Properties: </h3>
    <button class = "close-modal" onclick="closeModal(1)">Close</button>
  </div>

  <script>
    function showModal(which){
      var modal = document.getElementsByClassName("modal")[which];
      modal.classList.remove("hidden");
    }
    function update(address){
            var text;
            let row = document.getElementById(address);
            var form = document.getElementById("addproperty");
            var values = row.getElementsByTagName("td");
            var updateform = form.cloneNode(true);
            var html = document.getElementsByTagName("html");
            var updateforminputs = updateform.getElementsByTagName("input");
            //console.log(updateforminputs);
            //console.log(row);
            //console.log(updateform);

            for(let i = 0; i < 7; i++){
              var text = values[i].textContent;
              updateforminputs[i].value = text;
            }
            
            //console.log(row.childNodes);
           // console.log(updateform.childNodes);
            updateform.action = '/properties/update/' + address;
            //console.log(updateform.action)
            var modal = document.getElementsByClassName("modal")[1];
            if(modal.childElementCount>2){
               modal.removeChild(modal.children[1], modal.children[2], modal.children[3]);
            }
          
            //modal[0].getElementsByTagName("h3")[0].textContent = "Update Properties: " + address;
            modal.insertBefore(updateform,modal.childNodes[2]);
            modal.classList.remove("hidden");
            
      
            console.log(modal);

            
          }
    function closeModal(which){
      var modal = document.getElementsByClassName("modal")[which];
      modal.classList.add("hidden");
     
    }
  </script>
</html>
