<html>

  <h1>Reviews</h1>
  <h3>Add New Review :</h3>

  <!-- This area will display errors if the user doesn't add proper input-->
  <h4>{{insert_error}}</h4>

  <!-- Form to insert new User -->
  <form
    id="addreview"
    action="/review"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    User ID:
    <select name="user_id">
      <option disabled selected value> -- select an option -- </option>
        {{#each user_id}}
          <option value="{{user_id}}">{{user_id}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Address:
    <input
      type="text"
      name="address"
      placeholder="Enter Address"
    />
    <br />
    <br />

    Stars:
    <select name="stars">
      <option disabled selected value> -- select an option -- </option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
    </select>
    <br />
    <br />

    Description:
    <input
      type="text"
      name="description"
      placeholder="Enter Description"
    />
    <br />
    <br />

    Pictures:
    <input
      type="image"
      name="pictures"
      placeholder="Enter Pictures"
    />
    <br />
    <br />
    <br />
    <br />
    


  {{!-- Displays Current Review Entity Table  --}}
  <h3>Current Reviews:</h3>
  <table>
    <thead>
        <th>review_id</th>
        <th>user_id</th>
        <th>address</th>
        <th>stars</th>
        <th>description</th>
        <th>pictures</th>
    </thead>
    
    {{!-- Displays a row for each review in the db.  --}}
    <tbody>
      {{#each review}}
        <tr>
          <td>{{review_id}}</td>
          <td>{{user_id}}</td>
          <td>{{address}}</td>
          <td>{{stars}}</td>
          <td>{{description}}</td>
          <td>{{pictures}}</td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each review in the db.  --}}

    </tbody>
  </table>
</html>
