<html>

  <h1>Reviews</h1>
  <button onclick="openModal()">Add New Review</button>

  <!-- Form to insert new User -->
  <div class = "hidden modal">
  <form
    id="addreview"
    action="/reviews"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    User ID:
    <select name="user_id">
      <option disabled selected value> -- select an option -- </option>
        {{#each user_id}}
          <option value="{{user_id}}">{{user_id}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Address:
    <select name = "address">
      <option disabled selected value> -- select an option -- </option>
        {{#each address}}
          <option value="{{address}}">{{address}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Stars:
    <select name="stars">
      <option disabled selected value> -- select an option -- </option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
    </select>
    <br />
    <br />

    Description:
    <input
      type="text"
      name="description"
      placeholder="Enter Description"
    />
    <br />
    <br />
    <input class="submit-button" type="submit" value="Submit" />
  </form>
  <button onclick="closeModal()">Close</button>
    </div>

  {{!-- Displays Current Review Entity Table  --}}
  <h3>Current Reviews:</h3>
  <table>
    <thead>
        <th>Review ID</th>
        <th>User ID</th>
        <th>Address</th>
        <th>Stars</th>
        <th>Description</th>
    </thead>
    
    {{!-- Displays a row for each review in the db.  --}}
    <tbody>
      {{#each review}}
        <tr>
          <td>{{review_id}}</td>
          <td>{{user_id}}</td>
          <td>{{address}}</td>
          <td>{{stars}}</td>
          <td>{{description}}</td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each review in the db.  --}}

    </tbody>
  </table>
</html>
<script>
  function closeModal(){
    var modal = document.getElementsByClassName("modal")[0];
    modal.classList.add("hidden");
  }

  function openModal(){
    var modal = document.getElementsByClassName("modal")[0];
    modal.classList.remove("hidden");
  }
</script>