<html>

  <h1>Tenants and Properties</h1>

  <div class="header-container">
  <h3 class="left">Current Tenants:</h3>
  <h3 class="right">Current Tenant-Properties:</h3>
</div>

<div class="table-display">
  {{!-- Displays Current Information Tenant Entity Table  --}}
  
  <table>
    <thead>
        <th>User ID</th>
        <th>Role</th>
    </thead>
    
    {{!-- Displays a row for each Tenant in the db.  --}}
    <tbody>
      {{#each tenant}}
        <tr>
          <td>{{user_id}}</td>
          <td>{{role}}</td>
          <td>
            <form 
              action = "/tenants_properties/delete/{{user_id}}" 
              method = "post">
              <button>Delete</button>
            </form>
          </td>
        </tr>

      {{/each}}
    {{!-- Displays a row for each Tenant in the db.  --}}

    </tbody>
  </table>

  {{!-- Displays Current Information TenantProperty Entity Table  --}}
  <table>
    <thead>
        <th>User ID</th>
        <th>Address</th>
    </thead>
    
    {{!-- Displays a row for each Tenant in the db.  --}}
    <tbody>
      {{#each tenantProperty}}
        <tr>
          <td>{{user_id}}</td>
          <td>{{address}}</td>
          <td><form action = "/tenants_properties/delete-tenant-property/{{user_id}}" method = "post">
            <button>Delete</button></form></td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each Tenant in the db.  --}}

    </tbody>
  </table>
</div>

<div class="button-container">
  <button class="add-new-button left" onclick="openModal(0)">Add New Tenant</button>
  <button class="add-new-button right" onclick="openModal(1)">Add New Tenant-Property Relationship</button>
</div>


  <!-- Form to insert new Tenant -->
  {{!-- The layout for the form was inspired by the starter code: https://canvas.oregonstate.edu/courses/1914742/pages/exploration-web-application-technology?module_item_id=23054040 --}}
  <div class = "hidden modal">
  <form
    id="addtenant"
    action="/tenants_properties"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    User ID:
    <select name="user_id">
      <option disabled selected value> -- select an option -- </option>
        {{#each user}}
          <option value="{{user_id}}">{{user_id}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Role:
    <input
      type="text"
      name="role"
      placeholder="Enter Role"
      required
    />
    <br />
    <br />

    <input class="submit-button" type="submit" value="Submit" />
  </form>
  <button onclick="closeModal(0)">Close</button>
  </div>
    

  <!-- Form to insert new Tenant Property -->
  <div class = "hidden modal">
  <form
    id="add-tenant-property"
    action="/tenants_properties/add-tenant-property"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >

    User ID:
    <select name="user_id">
      <option disabled selected value> -- select an option -- </option>
        {{#each tenantID}}
          <option value="{{user_id}}">{{user_id}}</option>
        {{/each}}
    </select>
    <br />
    <br />

    Address:
    <select name="address">
      <option disabled selected value> -- select an option -- </option>
        {{#each address}}
          <option value="{{address}}">{{address}}</option>
        {{/each}}
    </select>
    <br />
    <br />
    <input class="submit-button" type="submit" value="Submit" />
  </form>
  <button onclick="closeModal(1)">Close</button>
  </div>


</html>

<script>
  function closeModal(which){
    var modal = document.getElementsByClassName("modal")[which];
    modal.classList.add("hidden");
  }

  function openModal(which){
    var modal = document.getElementsByClassName("modal")[which];
    modal.classList.remove("hidden");
  }
</script>