<html>

  <h1>User</h1>
  <h3>Add New User :</h3>

  <!-- This area will display errors if the user doesn't add proper input-->
  <h4>{{insert_error}}</h4>

  <!-- Form to insert new User -->
  <form
    id="adduser"
    action="/user"
    method="post"
    onkeydown="return event.key != 'Enter';"
  >
    First Name:
    <input
      type="text"
      name="fname"
      placeholder="Enter First Name"
    /><br />
    <br />
    <br />

    Last Name:
    <input
      type="text"
      name="lname"
      placeholder="Enter Last Name"
    /><br />
    <br />

    <br />
    <br />
    Email:
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
    /><br />
    <br />

    Phone:
    <input
      type="text"
      name="phone"
      placeholder="Enter Phone"
    /><br />
    <br />

    Smoking:
    <select name="smoking">
      <option disabled selected value> -- select an option -- </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br />
    <br />

    Pet:
    <select name="pet">
      <option disabled selected value> -- select an option -- </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br />
    <br />

    Age:
    <input
      type="text"
      name="age"
      placeholder="Enter Age"
    /><br />
    <br />


{{!---------- This section is to search for users --------------}}
  <form
    id="search_user"
    action=""
    method=""
    onkeydown="return event.key != 'Enter';"
  >
    <label> Search for User by First Name:</label>

  <!-- This area will display errors if the user doesn't add proper input-->
    <h4>{{search_error}}</h4>

    <!-- Search Input Form -->
    <input
      id="search_string"
      type="text"
      name="search_string"
      value=""
      placeholder="Enter User First Name"
    />
    <input type="button" value="Search" onclick="searchUser()" />
    <button type="button"><a class="blacklink" href="/user">Cancel Search</a></button>
  </form>
  {{!---------- This section is to search for users --------------}}


  {{!-- Displays Current User Entity Table  --}}
  <h3>Current Users:</h3>
  <table>
    <thead>
        <th>user_id</th>
        <th>fname</th>
        <th>lname</th>
        <th>email</th>
        <th>phone</th>
        <th>smoking</th>
        <th>pet</th>
        <th>gender</th>
        <th>age</th>
    </thead>
    
    {{!-- Displays a row for each user in the db.  --}}
    <tbody>
      {{#each user}}
        <tr>
          <td>{{user_id}}</td>
          <td>{{fname}}</td>
          <td>{{lname}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{smoking}}</td>
          <td>{{pet}}</td>
          <td>{{gender}}</td>
          <td>{{age}}</td>

          {{!-- Delete and Update Buttons. 
                Delete uses the functions defined in delete.js
                Update takes the user to  --}}
                
          <td><button onclick="location.href='/user/{{user_id}}'">Update</button></td>
          <td><button onclick="deleteuser({{user_id}})">Delete</button></td>
        </tr>
      {{/each}}
    {{!-- Displays a row for each user in the db.  --}}

    </tbody>
  </table>
</html>
