<html>

  <h1>Users</h1>

    {{!-- Displays Current User Entity Table  --}}
  <h3>Current Users:</h3>
  <table>
    <thead>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Smoking</th>
        <th>Pet</th>
        <th>Gender</th>
        <th>Age</th>
    </thead>
    
    {{!-- Displays a row for each user in the db.  --}}
    <tbody>
      {{#each user}}
        <tr id = {{user_id}}>
          <td>{{user_id}}</td>
          <td>{{fname}}</td>
          <td>{{lname}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{smoking}}</td>
          <td>{{pet}}</td>
          <td>{{gender}}</td>
          <td>{{age}}</td>

                
          <td>
            <form action = "/users/delete/{{user_id}}" method = "post">
              <button>Delete</button>
            </form>
          </td>
          <td>
            <button onclick = 'update({{user_id}})'>Update</button>
          </td>


        </tr>
        
      {{/each}}
    {{!-- Displays a row for each user in the db.  --}}
      
    </tbody>
  </table>

  <br />
  <br />

  <button class="add-new-button" onclick="showModal(0)">Add New User</button>

  <br />
  <br />


  <!-- Form to insert new User. The action defines where the data gets sent -->
  {{!-- The layout for the form was inspired by the starter code: https://canvas.oregonstate.edu/courses/1914742/pages/exploration-web-application-technology?module_item_id=23054040 --}}
  <div class = "modal hidden">
  <h3>Adding User: </h3>

  <form
    id="adduser"
    action="/users"
    method="post"
  >
    First Name:
    <input
      type="text"
      name="fname"
      placeholder="Enter First Name"
      required
    /><br />
    <br />

    Last Name:
    <input
      type="text"
      name="lname"
      placeholder="Enter Last Name"
      required
    /><br />
    <br />

    Email:
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      required
    /><br />
    <br />

    Phone:
    <input
      type="text"
      name="phone"
      placeholder="Enter Phone"
      required
    /><br />
    <br />

    Smoking:
    <select name="smoking">
      <option disabled selected value> -- select an option -- </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br />
    <br />

    Pet:
    <select name="pet">
      <option disabled selected value> -- select an option -- </option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br />
    <br />

    Gender:
    <input
      type="text"
      name="gender"
      placeholder="Enter Gender"
      required
    /><br />
    <br />

    Age:
    <input
      type="text"
      name="age"
      placeholder="Enter Age"
      required
    /><br />
    <br />
    <input class="submit-button" type="submit" value="Submit"/>
  </form>
  <button onclick="closeModal(0)">Close</button>
  </div>


{{!---------- This section is to search for users --------------}}
 
 <!-- Search Input Form -->
  <form
    id="search_user"
    action="/users/search"
    method="post"
  >
    <label> Search for a User by their First Name:</label>

    <input
      type="text"
      name="fname"
      placeholder="Enter User's First Name"
      required
    />

    <input class="submit-button" type="submit" value="Submit"/>
    <button type="button"><a href="/users">Cancel Search</a></button>
  </form>

  <div class = "modal hidden">
    <h3>Update User: </h3>
    <button class = "close-modal" onclick="closeModal(1)">Close</button>
  </div>


  <script>
          function update(user_id){
            var text;

            let row = document.getElementById(user_id);
            var values = row.getElementsByTagName("td");
            var form = document.getElementById("adduser");
            var updateform = form.cloneNode(true);
            var html = document.getElementsByTagName("html");
            var updateforminputs = updateform.querySelectorAll("input, select");
            console.log(updateforminputs);
            for(i = 0; i < updateforminputs.length-1; i++){
              updateforminputs[i].value = values[i+1].textContent;
            }
            
            console.log(row.childNodes);
            console.log(updateform.childNodes);
            updateform.action = '/users/update/' + user_id;
            
            
            var modal = document.getElementsByClassName("modal")[1];
            if(modal.childElementCount>2){
              modal.removeChild(modal.children[1], modal.children[2], modal.children[3]);
            }
            modal.getElementsByTagName("h3")[0].textContent = "Update User: " + user_id;
            modal.insertBefore(updateform, modal.childNodes[2]);
            modal.classList.remove("hidden");
            //console.log(modal[0]);
          }

          function closeModal(which){
            var modal = document.getElementsByClassName("modal")[which];
            modal.classList.add("hidden");
            
      
    }
          function showModal(which){
            var modal = document.getElementsByClassName("modal")[which];
            modal.classList.remove("hidden"); 
          }
        </script>
</html>
